<a href="https://colab.research.google.com/github/rbhattar07/Python-Projects--Data-Analysis/blob/main/Flight_delay_prediction_v_0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
from google.colab import files

files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"riddhbhattar","key":"c5e0e992d4ecbb79377bd562ca73891c"}'}

In [ ]:
!ls -lha kaggle.json

-rw-r--r-- 1 root root 68 Oct 21 19:36 kaggle.json

In [ ]:
!pip install -q kaggle

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [ ]:
!chmod 600 /root/.kaggle/kaggle.json

In [ ]:
!pwd

/content

In [ ]:
!kaggle datasets list

ref                                                             title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
akshaydattatraykhare/diabetes-dataset                           Diabetes Dataset                                      9KB  2022-10-06 08:55:25           4789        154  1.0
vittoriogiatti/bigmacprice                                      Bigmac Prices                                        14KB  2022-10-19 21:11:14            975         29  1.0
whenamancodes/covid-19-coronavirus-pandemic-dataset             COVID -19 Coronavirus Pandemic Dataset               11KB  2022-09-30 04:05:11           3972        115  1.0
thedevastator/fast-food-restaurants-in-the-united-states        Fast Food Restaurants in the United States            4MB  2022-10-08 17:30:38           1376         39  1.0
whenamancodes/students-performance-in-exams                     Students Performance in Exams                         9KB  2022-09-14 15:14:54           7412        134  1.0
whenamancodes/student-performance                               Student Performance                                 104KB  2022-10-07 05:14:47           5530        130  1.0
anushabellam/cars-cars-2                                        Cars_India_dataset                                    4KB  2022-10-12 06:34:20            798         27  1.0
iamsouravbanerjee/computer-games-dataset                        Computer Games Dataset                               29KB  2022-10-11 14:36:33            569         43  1.0
kathir1k/youtube-influencers-data                               Youtube Channel and Influencer Analysis             196KB  2022-10-13 16:30:21            692         29  0.85294116
whenamancodes/flight-delay-prediction                           Flight Delay Prediction                              31MB  2022-10-07 05:26:20           1416         36  0.88235295
narayan63/netflix-popular-movies-dataset                        Netflix popular movies dataset                        1MB  2022-09-24 08:23:22           3627         57  0.9411765
evangower/premier-league-matches-19922022                       Premier League Matches 1992-2022                     78KB  2022-10-03 02:18:33           1346         47  1.0
whenamancodes/alcohol-effects-on-study                          Alcohol Effects On Study                             18KB  2022-09-15 03:21:04           4721         90  1.0
kathuman/housing                                                Housing                                             400KB  2022-09-29 10:21:23            832         26  1.0
whenamancodes/the-global-hunger-index                           The Global Hunger Index                              27KB  2022-09-13 18:18:01           1468         41  1.0
eliasturk/world-happiness-based-on-cpi-20152020                 Happiness and Corruption 2015-2020                   29KB  2022-10-11 22:35:03            855         31  1.0
jfreyberg/spotify-artist-feature-collaboration-network          Spotify Artist Feature Collaboration Network         15MB  2022-10-10 14:11:34            576         33  0.9117647
pantanjali/unemployment-dataset                                 Unemployment dataset                                 17KB  2022-09-08 08:26:10           6635        141  1.0
adnananam/spotify-artist-stats                                  Spotify Artist Stats                                 28KB  2022-09-22 03:22:44           1603         39  1.0
thedevastator/fuel-economy-data-how-efficient-are-today-s-cars  Fuel Economy Data: How Efficient Are Today's Cars?    1MB  2022-10-09 16:47:41            922         31  0.9411765

In [ ]:
!kaggle datasets download -d varsharainer/dna-sequencing-classifier

404 - Not Found

In [ ]:
!unzip dna-sequencing-classifier.zip

unzip:  cannot find or open dna-sequencing-classifier.zip, dna-sequencing-classifier.zip.zip or dna-sequencing-classifier.zip.ZIP.

In [ ]:
!kaggle datasets download -d whenamancodes/flight-delay-prediction

Downloading flight-delay-prediction.zip to /content
 39% 12.0M/30.6M [00:00<00:00, 123MB/s]
100% 30.6M/30.6M [00:00<00:00, 165MB/s]

In [ ]:
!unzip flight-delay-prediction.zip

Archive:  flight-delay-prediction.zip
  inflating: flight_data_2018_to_2022.csv

In [ ]:
!pip install opendatasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.64.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2022.9.24)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [ ]:
import os
import opendatasets as od
import math
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

matplotlib.rcParams['figure.figsize'] = (12,10)
matplotlib.rcParams['font.size'] = 12
matplotlib.rcParams['figure.facecolor'] = '#00000000'
matplotlib.rcParams['lines.linewidth']= 2
matplotlib.rcParams['lines.linestyle']= '--'

In [ ]:
raw_df = pd.read_csv('/content/flight_data_2018_to_2022.csv')
raw_df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (11,13,78,85,86,93) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,1,1,6,4,2022-01-06,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,1,1,6,4,2022-01-06,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,1,1,6,4,2022-01-06,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,1,1,6,4,2022-01-06,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,1,1,6,4,2022-01-06,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563732,2022,1,1,24,1,2022-01-24,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
563733,2022,1,1,24,1,2022-01-24,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
563734,2022,1,1,24,1,2022-01-24,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
563735,2022,1,1,24,1,2022-01-24,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
563736,2022,1,1,24,1,2022-01-24,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [ ]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563737 entries, 0 to 563736
Columns: 120 entries, Year to Unnamed: 119
dtypes: float64(72), int64(23), object(25)
memory usage: 516.1+ MB

In [ ]:
raw_df.describe()

,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Originally_Scheduled_Code_Share_Airline,Flight_Num_Originally_Scheduled_Code_Share_Airline,DOT_ID_Operating_Airline,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 119
count,563737.0,563737.0,563737.0,563737.000000,563737.000000,563737.000000,563737.000000,17.0,17.000000,563737.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2022.0,1.0,1.0,15.963577,4.044444,19831.807753,2680.255515,20304.0,4131.294118,20001.203114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.0,8.982503,2.086369,271.869441,1803.194659,0.0,450.516060,376.353237,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2022.0,1.0,1.0,1.000000,1.000000,19393.000000,1.000000,20304.0,3714.000000,19393.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2022.0,1.0,1.0,8.000000,2.000000,19790.000000,1153.000000,20304.0,3855.000000,19790.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2022.0,1.0,1.0,16.000000,4.000000,19805.000000,2314.000000,20304.0,3975.000000,19977.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2022.0,1.0,1.0,24.000000,6.000000,19977.000000,4187.000000,20304.0,4138.000000,20378.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2022.0,1.0,1.0,31.000000,7.000000,20436.000000,8816.000000,20304.0,5622.000000,20500.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
columns_list = raw_df.columns.tolist()
columns_list

['Year',
 'Quarter',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'FlightDate',
 'Marketing_Airline_Network',
 'Operated_or_Branded_Code_Share_Partners',
 'DOT_ID_Marketing_Airline',
 'IATA_Code_Marketing_Airline',
 'Flight_Number_Marketing_Airline',
 'Originally_Scheduled_Code_Share_Airline',
 'DOT_ID_Originally_Scheduled_Code_Share_Airline',
 'IATA_Code_Originally_Scheduled_Code_Share_Airline',
 'Flight_Num_Originally_Scheduled_Code_Share_Airline',
 'Operating_Airline ',
 'DOT_ID_Operating_Airline',
 'IATA_Code_Operating_Airline',
 'Tail_Number',
 'Flight_Number_Operating_Airline',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'Origin',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'Dest',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'CRSDepTime',
 'DepTime',
 'DepDelay',
 'DepDelayMinutes',
 'DepDel15',
 'DepartureDelayGroups',
 'DepTimeBlk',
 'TaxiOut',
 'WheelsOff',
 'WheelsOn',
 'TaxiIn',
 'CRSArrTime',
 'ArrTime',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrDel15',
 'ArrivalDelayGroups',
 'ArrTimeBlk',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CRSElapsedTime',
 'ActualElapsedTime',
 'AirTime',
 'Flights',
 'Distance',
 'DistanceGroup',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay',
 'FirstDepTime',
 'TotalAddGTime',
 'LongestAddGTime',
 'DivAirportLandings',
 'DivReachedDest',
 'DivActualElapsedTime',
 'DivArrDelay',
 'DivDistance',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1WheelsOn',
 'Div1TotalGTime',
 'Div1LongestGTime',
 'Div1WheelsOff',
 'Div1TailNum',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2WheelsOn',
 'Div2TotalGTime',
 'Div2LongestGTime',
 'Div2WheelsOff',
 'Div2TailNum',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3WheelsOn',
 'Div3TotalGTime',
 'Div3LongestGTime',
 'Div3WheelsOff',
 'Div3TailNum',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4WheelsOn',
 'Div4TotalGTime',
 'Div4LongestGTime',
 'Div4WheelsOff',
 'Div4TailNum',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5WheelsOn',
 'Div5TotalGTime',
 'Div5LongestGTime',
 'Div5WheelsOff',
 'Div5TailNum',
 'Duplicate',
 'Unnamed: 119']

In [ ]:
raw_df.dropna(axis=1, thresh= 400000, inplace=True)

In [ ]:
numerical_cols = raw_df.select_dtypes(include = ['float64', 'int64'])
categorical_cols = raw_df.select_dtypes(include = ['object'])

In [ ]:
numerical_cols

,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginAirportID,...,ArrivalDelayGroups,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,DivAirportLandings
0,2022,1,1,6,4,19790,1581,19790,1581,11697,...,NaN,1.0,0.0,173.0,NaN,NaN,1.0,1076.0,5,0
1,2022,1,1,6,4,19790,1582,19790,1582,10397,...,-1.0,0.0,0.0,110.0,113.0,93.0,1.0,581.0,3,0
2,2022,1,1,6,4,19790,1582,19790,1582,11697,...,-1.0,0.0,0.0,116.0,106.0,83.0,1.0,581.0,3,0
3,2022,1,1,6,4,19790,1583,19790,1583,11697,...,-1.0,0.0,0.0,123.0,113.0,93.0,1.0,680.0,3,0
4,2022,1,1,6,4,19790,1584,19790,1584,10397,...,-1.0,0.0,0.0,85.0,78.0,60.0,1.0,341.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563732,2022,1,1,24,1,19977,6136,20378,6136,12266,...,NaN,1.0,0.0,94.0,NaN,NaN,1.0,395.0,2,0
563733,2022,1,1,24,1,19977,6143,20378,6143,13851,...,NaN,1.0,0.0,94.0,NaN,NaN,1.0,395.0,2,0
563734,2022,1,1,24,1,19977,6145,20378,6145,10397,...,NaN,1.0,0.0,107.0,NaN,NaN,1.0,534.0,3,0
563735,2022,1,1,24,1,19977,6145,20378,6145,12264,...,NaN,1.0,0.0,123.0,NaN,NaN,1.0,534.0,3,0
563736,2022,1,1,24,1,19977,6156,20378,6156,12266,...,NaN,1.0,0.0,120.0,NaN,NaN,1.0,657.0,3,0

In [ ]:
categorical_cols

,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,IATA_Code_Marketing_Airline,Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Origin,OriginCityName,OriginState,OriginStateName,Dest,DestCityName,DestState,DestStateName,DepTimeBlk,ArrTimeBlk,Duplicate
0,2022-01-06,DL,DL,DL,DL,DL,N315DN,FLL,"Fort Lauderdale, FL",FL,Florida,LGA,"New York, NY",NY,New York,1100-1159,1400-1459,N
1,2022-01-06,DL,DL,DL,DL,DL,N545US,ATL,"Atlanta, GA",GA,Georgia,FLL,"Fort Lauderdale, FL",FL,Florida,1600-1659,1800-1859,N
2,2022-01-06,DL,DL,DL,DL,DL,N545US,FLL,"Fort Lauderdale, FL",FL,Florida,ATL,"Atlanta, GA",GA,Georgia,1900-1959,2100-2159,N
3,2022-01-06,DL,DL,DL,DL,DL,N345NB,FLL,"Fort Lauderdale, FL",FL,Florida,RDU,"Raleigh/Durham, NC",NC,North Carolina,1000-1059,1200-1259,N
4,2022-01-06,DL,DL,DL,DL,DL,N978AT,ATL,"Atlanta, GA",GA,Georgia,JAN,"Jackson/Vicksburg, MS",MS,Mississippi,1100-1159,1100-1159,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563732,2022-01-24,UA,UA_CODESHARE,UA,YV,YV,NaN,IAH,"Houston, TX",TX,Texas,OKC,"Oklahoma City, OK",OK,Oklahoma,1200-1259,1400-1459,N
563733,2022-01-24,UA,UA_CODESHARE,UA,YV,YV,NaN,OKC,"Oklahoma City, OK",OK,Oklahoma,IAH,"Houston, TX",TX,Texas,1700-1759,1800-1859,N
563734,2022-01-24,UA,UA_CODESHARE,UA,YV,YV,NaN,ATL,"Atlanta, GA",GA,Georgia,IAD,"Washington, DC",VA,Virginia,1400-1459,1600-1659,N
563735,2022-01-24,UA,UA_CODESHARE,UA,YV,YV,NaN,IAD,"Washington, DC",VA,Virginia,ATL,"Atlanta, GA",GA,Georgia,1100-1159,1300-1359,N
563736,2022-01-24,UA,UA_CODESHARE,UA,YV,YV,NaN,IAH,"Houston, TX",TX,Texas,BNA,"Nashville, TN",TN,Tennessee,0700-0759,0900-0959,N